uvicorn
fastapi
python-multipart
typing_extensions
loguru
sona-regression-model==0.0.1
pytest
requests
black==20.8b1
flake8
mypy==0.812
isort==5.8.0
numpy
pandas
pydantic
scikit-learn
strictyaml
ruamel.yaml==0.16.12
feature-engine
joblib
scipy
matplotlib
gunicorn==19.9.0
#uvloop
#httptools
